.new-collections {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-bottom: 200px;
}

.new-collections h1 {
    font-size: 90px;
    font-weight: 700;
    color: #141313;
    text-align: center;
}

.new-collections hr {
    width: 200px;
    height: 6px;
    background-color: #141313;
    border-radius: 10px;
}

.collections {
    display: grid;
    grid-template-columns: 7fr 7fr 7fr 7fr;
    gap: 700px; 
    grid-row-gap: 300px;
    margin-top: 50px;
    font-size: 45px;
    align-items: center;
}


.collections img{
        width: 1000px;
        height: 1200px;
        margin-right: 90px;
    
    }
.collections .item-price-new,
.collections .item-price-old {
        font-size: 50px; 
    }

    
    
